*{
    font-size: 16px;
    color: rgb(33, 37, 41);
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}
.flex{
    display: flex;
}
.error{
    /* border: 1px solid; */
    margin: 10px 0px;
    /* padding: 15px 10px 15px 50px; */
    background-repeat: no-repeat;
    background-position: 10px center;
    
}
.container {
    max-width: 350px;
    margin: 8px auto;
    padding: 1rem;
    background-color: #fff;
  }
#search-box{
    width: 241px;
     height: 38px;
      font-size: 16px;
       background-color: rgb(255, 255, 255);
        border-color: rgb(206, 212, 218);
       padding:8px;
    margin:8px;
      border-radius: 4px;
   }
   .error{
    color: #D8000C;
    /* background-color: #FFBABA; */
    /* background-image: url('https://i.imgur.com/GnyDvKN.png'); */
}
  /* Table */
.table {
    width:auto;
    margin:30px auto;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 1rem;
  }
  
  .table th,
  .table td {
    padding: 1rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
  
  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
  }
  
  /* Table striped rows */
  .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
  }
  
  /* Table hover */
  .table-hover > tbody > tr:hover {
    background-color: #f5f5f5;
  }
  
  /* Table bordered */
  .table-bordered > thead > tr > th,
  .table-bordered > tbody > tr > th,
  .table-bordered > thead > tr > td,
  .table-bordered > tbody > tr > td {
    border: 1px solid rgb(222, 226, 230);
  }
  
  /* Table dark */
  .table-dark {
    color: #fff;
    background-color: #212529;
  }
  
  .table-dark th,
  .table-dark td {
    font-weight: 700;
    border-color: rgb(222, 226, 230);
  }
  
  /* Table responsive */
  .table-responsive {
    overflow-x: auto;
  }

  .p-2
  {
    padding:10px;
  }
  .pl-2
  {
    padding-left:10px;
  }
  .m-2{
    margin:10px;
  }
  .ml-2{
    margin-left:10px;
  }
  input:active, input:hover{
    border-color: #7952b3;
    box-shadow: 0 0 0 3px rgb(121 82 179 / 25%);
  }
  #search{
    width:auto;
    margin:30px auto;
  }
  .text-center{
    text-align:center !important;
  }



  @media only screen and (min-width: 300px) and (max-width: 768px)  {
    #search{
        width:auto;
        margin:30px auto;
        margin-bottom:5px;
      }
      .custom-loader {
 
        width:50px;
        height:50px;
        border-radius:50%;
       
        position:absolute;
        left:42% !important;
        top:37%;
        background:conic-gradient(#0000 10%,#766DF4);
        -webkit-mask:radial-gradient(farthest-side,#0000 calc(50%),#000 50);
        animation:s3 1s infinite linear;
        
      }
  }
  .custom-loader {
 
    width:50px;
    height:50px;
    border-radius:50%;
   
    position:absolute;
    left:47%;
    top:37%;
    background:conic-gradient(#0000 10%,#766DF4);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(50%),#000 50);
    animation:s3 1s infinite linear;
    
  }
  @keyframes s3 {to{transform: rotate(1turn)}}